<html>
  <head>
    <title>Image Search | Dishant chavda</title>
  </head>
  <body>
    <h1>Image Search Abstraction Layer Project</h1>
    <br><br>
    <h3>Urls to be used :</h3>
    <ul>
      <li>https://img-search15.herokuapp.com/api/search/{query}</li>
      <li>https://img-search15.herokuapp.com/api/search/{query}?offset={val}</li>
      <li>https://img-search15.herokuapp.com/api/latest/search/</li>
    </ul>
  </body>
</html>
